body {
    background-color: #232323;
}

.square {
    width: 30%;
    background: Purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container {
    margin: 0 auto;
    max-width: 600 px;
}

h1 {
    color: white;
    text-align: center;
}

/* span {
    color: white;
} */

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

h2 {
    color: pink;
    text-align: center;
}

#safeTimerDisplay {
    color: red;
    text-align: center;
}